9.1 GroupBy 메카닉

In [4]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
df = DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                'key2' : ['one', 'two', 'one', 'two', 'one'],
                'data1' : np.random.randn(5),
                'data2' : np.random.randn(5)})

In [5]:
df

      data1     data2 key1 key2
0  0.642711  0.955367    a  one
1  0.190292 -0.336209    a  two
2 -1.408010 -0.601961    b  one
3  1.217993  1.014480    b  two
4 -0.312696  0.880666    a  one

In [6]:
grouped = df['data1'].groupby(df['key1'])

In [7]:
grouped

In [8]:
grouped.mean()

key1
a    0.173436
b   -0.095009
Name: data1, dtype: float64

In [9]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [10]:
means

key1  key2
a     one     0.165008
      two     0.190292
b     one    -1.408010
      two     1.217993
Name: data1, dtype: float64

In [74]:
means.unstack()

key2       one       two
key1
a     0.165008  0.190292
b    -1.408010  1.217993

In [12]:
states = np.array(['ohio', 'california', 'california', 'ohio', 'ohio'])

In [13]:
years = np.array([2005, 2005, 2006, 2005, 2006])

In [14]:
df['data1'].groupby([states, years]).mean()

california  2005    0.190292
            2006   -1.408010
ohio        2005    0.930352
            2006   -0.312696
Name: data1, dtype: float64

In [18]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.173436  0.499941
b    -0.095009  0.206259

In [19]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one   0.165008  0.918016
     two   0.190292 -0.336209
b    one  -1.408010 -0.601961
     two   1.217993  1.014480

In [20]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [21]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

a
      data1     data2 key1 key2
0  0.642711  0.955367    a  one
1  0.190292 -0.336209    a  two
4 -0.312696  0.880666    a  one
b
      data1     data2 key1 key2
2 -1.408010 -0.601961    b  one
3  1.217993  1.014480    b  two

In [22]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)

('a', 'one')
      data1     data2 key1 key2
0  0.642711  0.955367    a  one
4 -0.312696  0.880666    a  one
('a', 'two')
      data1     data2 key1 key2
1  0.190292 -0.336209    a  two
('b', 'one')
     data1     data2 key1 key2
2 -1.40801 -0.601961    b  one
('b', 'two')
      data1    data2 key1 key2
3  1.217993  1.01448    b  two

In [23]:
pieces = dict(list(df.groupby('key1')))

In [24]:
pieces['b']

      data1     data2 key1 key2
2 -1.408010 -0.601961    b  one
3  1.217993  1.014480    b  two

In [25]:
df.dtypes

data1    float64
data2    float64
key1      object
key2      object
dtype: object

In [27]:
grouped = df.groupby(df.dtypes, axis=1)

In [28]:
dict(list(grouped))

{dtype('float64'):       data1     data2
 0  0.642711  0.955367
 1  0.190292 -0.336209
 2 -1.408010 -0.601961
 3  1.217993  1.014480
 4 -0.312696  0.880666, dtype('O'):   key1 key2
 0    a  one
 1    a  two
 2    b  one
 3    b  two
 4    a  one}

In [30]:
df.groupby(['key1', 'key2'])[['data2']].mean()

              data2
key1 key2
a    one   0.918016
     two  -0.336209
b    one  -0.601961
     two   1.014480

In [31]:
s_grouped = df.groupby(['key1', 'key2'])['data2']

In [32]:
s_grouped

In [33]:
s_grouped.mean()

key1  key2
a     one     0.918016
      two    -0.336209
b     one    -0.601961
      two     1.014480
Name: data2, dtype: float64

In [34]:
people = DataFrame(np.random.randn(5, 5),
                   columns=['a', 'b', 'c', 'd', 'e'],
                   index=['joe', 'steve', 'wes', 'jim', 'travis'])

In [35]:
people.ix[2:3, ['b', 'c']] = np.nan #NA값 몇 개를 추가한다.

In [36]:
people

               a         b         c         d         e
joe    -0.357723  1.136817 -0.422537  0.621681  0.162331
steve   0.748914  0.199756 -0.294519  2.428321  0.308736
wes    -0.860523       NaN       NaN  0.510110 -1.039915
jim    -0.800223  0.067900 -0.082236 -0.600353  2.222378
travis  1.211263  1.147962  1.550993 -1.029188  0.540762

In [38]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue', 'd': 'blue', 'e': 'red', 'f': 'orange'}

In [39]:
by_column = people.groupby(mapping, axis=1)

In [40]:
by_column.sum()

            blue       red
joe     0.199144  0.941424
steve   2.133802  1.257407
wes     0.510110 -1.900438
jim    -0.682589  1.490055
travis  0.521804  2.899987

In [41]:
map_series = Series(mapping)

In [42]:
map_series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [44]:
people.groupby(map_series, axis=1).count()

        blue  red
joe        2    3
steve      2    3
wes        1    2
jim        2    3
travis     2    3

In [45]:
people.groupby(len).sum()

          a         b         c         d         e
3 -2.018469  1.204717 -0.504774  0.531438  1.344794
5  0.748914  0.199756 -0.294519  2.428321  0.308736
6  1.211263  1.147962  1.550993 -1.029188  0.540762

In [46]:
key_list = ['one', 'one', 'one', 'two', 'two']

In [47]:
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one -0.860523  1.136817 -0.422537  0.510110 -1.039915
  two -0.800223  0.067900 -0.082236 -0.600353  2.222378
5 one  0.748914  0.199756 -0.294519  2.428321  0.308736
6 two  1.211263  1.147962  1.550993 -1.029188  0.540762

In [48]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'], [1, 3, 5, 1, 3]], names=['cty', 'tenor'])

In [49]:
hier_df = DataFrame(np.random.randn(4, 5), columns=columns)

In [50]:
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0      0.557620 -0.566586  1.305011  0.610875 -0.375456
1      1.296834  0.185787  1.480889 -0.099264 -0.251710
2     -1.224675  0.314406 -1.803253  1.432509  0.408981
3     -0.636803 -0.612420 -0.498238 -0.892302  0.977007

In [51]:
hier_df.groupby(level='cty', axis=1).count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

In [52]:
df

      data1     data2 key1 key2
0  0.642711  0.955367    a  one
1  0.190292 -0.336209    a  two
2 -1.408010 -0.601961    b  one
3  1.217993  1.014480    b  two
4 -0.312696  0.880666    a  one

In [53]:
grouped = df.groupby('key1')

In [54]:
grouped['data1'].quantile(0.9)

key1
a    0.552227
b    0.955392
Name: data1, dtype: float64

In [55]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [56]:
grouped.agg(peak_to_peak)

         data1     data2
key1
a     0.955407  1.291576
b     2.626003  1.616441

In [57]:
grouped.describe()

               data1     data2
key1
a    count  3.000000  3.000000
     mean   0.173436  0.499941
     std    0.477926  0.725090
     min   -0.312696 -0.336209
     25%   -0.061202  0.272229
     50%    0.190292  0.880666
     75%    0.416501  0.918016
     max    0.642711  0.955367
b    count  2.000000  2.000000
     mean  -0.095009  0.206259
     std    1.856864  1.142997
     min   -1.408010 -0.601961
     25%   -0.751510 -0.197851
     50%   -0.095009  0.206259
     75%    0.561492  0.610370
     max    1.217993  1.014480

In [70]:
tips = pd.read_csv('C:/Users/최제림/python/HY_Python_study/tips.csv')

OSError: Initializing from file failed